#modal_controller {
    margin-top: 20px;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #646464;
    border: none;
    background-color: transparent;
}
#modal_controller:hover {
    cursor: pointer;
    color: #404040;
    text-decoration: underline;
}
.modal_window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal_form  {
    border-radius: 10px 10px 10px 10px;
    background-color: #fefefe ;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    min-width: 300px;
}
.modal_form fieldset{
    font-family: 'Play', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    border: none;
}
.modal_form legend {
    font-weight: bold;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.modal_form input[type="email"],
.modal_form input[type="file"] {
    font-family: 'Play', sans-serif;
    background: #909090;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #FFF;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
.modal_form input[type="submit"] {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    position: relative;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 5px auto;
    background: #646464;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: none;
}
.modal_form input[type="submit"]:hover {
    cursor: pointer;
    background: #909090;
}