.modal_window_img {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.modal_form_img  {
    border-radius: 10px 10px 10px 10px;
    background-color: #fefefe ;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 450px;
}
.open_img {
    width: 400px;
    height: 300px;
}
.photo_gallery:hover {
    cursor: pointer;
}
.p_data {
    text-align: left;
    font-family: 'Play', sans-serif;
    color: #909090;
}
.p_data strong {
    margin-left: 5px;
    color: #8AD790;
}
#buttonID {
    padding: 5px 5px;
    background-color: #909090;
    color: #FFFFFF;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    margin-top: -5px;
}
.p_comment {
    font-family: 'Play', sans-serif;
    margin-bottom: 5px;
}
.div_with_comment {
    border: 1px solid black;
    margin-top: 7px;
}
#comment_div {
    height: 200px;
    overflow-y: scroll;
}
.img_close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 75px;
    height: 75px;
}
.img_close:hover {
    cursor: pointer;
}