.room {
    padding-top: 10px;
    margin-left: 210px;
    width: 420px;
}
#take_it {
    width: 400px;
    display: none;
}

#canvas {
    display: none;
}
#video {
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}
#helmet, #wars {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
#vader {
    width: 100px;
    height: 143px;
    margin-right: 5px;
}
#vader:hover, #helmet:hover, #wars:hover {
    cursor: pointer;
}
.items {
    margin-left: 10px;
    float: left;
}
#video_img {
    position: absolute;
    top: 25px;
    left: 300px;
    width: 200px;
    height: 200px;
}