.room {
    padding-top: 10px;
    margin-left: 10px;
    width: 420px;
    float: left;
}
.photo_div {
    /*position: absolute;*/
    width: 40%;
    /*left: 650px;*/
    /*top: 10px;*/
    float: left;
    /*display: inline-block;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.user_photo {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#take_it, #save_it, #cancel_it {
    width: 400px;
    display: none;
    margin-left: 0;
}

#canvas {
    display: none;
}
#video {
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    width: 400px;
    height:300px;
}
#helmet, #wars, #leo {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
#leo:hover, #helmet:hover, #wars:hover {
    cursor: pointer;
}
.items {
    margin-left: 10px;
    float: left;
}
#video_img {
    position: absolute;
    top: 25px;
    left: 300px;
    width: 200px;
    height: 200px;
}
#done_img {
    position: absolute;
    top: 330px;
    left: 300px;
    width: 200px;
    height: 200px;
}