.room {
    padding-top: 10px;
    margin-left: 10px;
    width: 420px;
    float: left;
}
.photo_div {
    width: 45%;
    height: 650px;
    overflow-y: scroll;
    float: left;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.user_photo {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
#take_it, #save_it, #cancel_it {
    width: 400px;
    display: none;
    margin-left: 0;
}
#photo {
    width: 400px;
    height: 300px;
}
#canvas {
    display: none;
}
#video {
    transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    width: 400px;
    height:300px;
}
#helmet, #wars, #leo {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
#leo:hover, #helmet:hover, #wars:hover {
    cursor: pointer;
}
.items {
    margin-left: 10px;
    float: left;
}
#video_img {
    position: absolute;
    top: 25px;
    left: 300px;
    width: 200px;
    height: 200px;
}
#done_img {
    position: absolute;
    top: 330px;
    left: 300px;
    width: 200px;
    height: 200px;
}
.photo_form {
    margin-top: 10px;
}
.photo_p {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    float: left;
}
.photo_form input[type='file'] {
    font-family: 'Play', sans-serif;
    background: #909090;
}
.photo_form input[type="submit"] {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    color: #FFF;
    margin: 5px auto;
    background: #646464;
    text-align: center;
    font-style: normal;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    border: none;
}
.photo_form input[type="submit"]:hover {
    cursor: pointer;
    background: #909090;
}
strong {
    color: #D78A8A;
}