@media only screen and (max-width: 625px) {
    .account_form{
        max-width: 300px;
    }
    span {
        display: none;
    }
    footer {
        display: none;
    }
    nav {
        width: 45px;
        padding-right: 20px;
        -webkit-box-shadow: inset -9px 2px 10px -5px darkgray;
        -moz-box-shadow: inset -9px 2px 10px -5px darkgray;
        box-shadow: inset -9px 2px 10px -5px darkgray;
    }
    .menu_list {
        width: 40px;
    }
    #avatar {
        margin-left: -8px;
        width: 60px;
        height: 60px;
    }
    #nick_name {
        display: block;
        margin-left: -9px;
    }
    .about_item {
        display: block;
    }
    .room {
        margin-left: 10px;
        width: 210px;
    }
    #take_it, #save_it, #cancel_it {
        width: 200px;
    }
    #helmet, #wars, #leo {
        width: 50px;
        height: 50px;
    }
    #video_img {
        top: 25px;
        left: 140px;
        width: 100px;
        height: 100px;
    }
    #done_img {
        position: absolute;
        top: 180px;
        left: 140px;
        width: 100px;
        height: 100px;
    }
    #video,#photo, #canvas {
        width: 200px;
        height: 150px;
    }
}
@media only screen and (max-width: 1024px) {
    .user_photo {
        width: 100px;
        height: 75px;
    }
    .photo_div {
        width: 30%;
    }
}
@media only screen and (max-width: 768px) {
    .photo_div {
        width: 15%;
    }
    .photo_gallery {
        width: 150px;
        height: 115px;
    }
    .modal_form_img {
        max-width: 250px;
    }
    .open_img {
        width: 200px;
        height: 150px;
    }
    #textarea {
        max-width: 200px;
    }
}
@media only screen and (max-width: 425px) {
    .photo_div {
        width: 60%;
    }
}
